*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(4, 21, 255);
}
header{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 20px;
}
#contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr)/*Divide 3 columnas*/;
    gap: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(0, 21, 255);
}



.espacio{
    height: 300px;
    padding: 20px;
    background-color: rgb(0, 166, 255);
    border: 1px solid rgb(110, 66, 192);
    border-radius: 15px;
}


#lado{
    width: 50%;
}
#iva{
    width: 13%;
}
#numerodosdigitos{
    width: 42%;
}
#papas{
width: 45%
}
#huevitos{
width: 43%
}
#lacebolla{
width: 42%
}
#salida{
    width: 82%;
}
#factorial{
    width: 40%;
}

#resultadoN2{
    width: 60%;
}
#a{
    width: 10%;
}
#b{
    width: 10%;
}
#c{
    width: 10%;
}
#n1{
    width: 18%;
}
#n2{
    width: 18%;
}